{% extends "control/main.html" %}

{% load static %}

{% block title %}<title>Listado de Pedidos</title>{% endblock %}

{% block content %}
    {% if user.is_staff or request.user.username == 'Mesero' or request.user.username == 'Cocinero' or request.user.username == 'Cajero' %}
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Listado de Pedidos</h4>
        {% if perms.control.add_pedido %}
        <a href="{% url 'control:pedido_create' %}"><button type="button" class="btn btn-success float-right">Agregar</button></a>
        {% endif %}
      </div>
      <div class="card-body">
          
        <div class="table-responsive">
          <table class="table table-bordered" id="Tabla" width="100%" cellspacing="0">
            <thead>
              <tr>
                {% if perms.control.view_pedido %}
                <th width="15%">Detalle Pedido</th>
                {% endif %} 
                <th>No. de Pedido</th>
                <th>Total</th>               
                <th>Estado</th>
                <th>Cliente</th>
                {% if user.is_staff or request.user.username == 'Mesero' or request.user.username == 'Cajero' %}
                <th style="text-align: center;">Accion</th>
                {% endif %} 

              </tr>
            </thead>
            
            <tbody>

                {% if pedido_list %}


                    {% if user.is_staff %}
                          {% for pedido in pedido_list %} 
                            <tr>
                                
                                {% if perms.control.view_pedido %}
                                <td style="text-align: center;">
                                  <a href="{{ pedido.get_absolute_url }}"><img src="{% static 'img/icon/view.png' %}" width="25" height="25"/></a>
                                </td>
                                {% endif %}   
                                <td>{{ pedido.id }}</td>
                                <td>Q{{ pedido.total }}</td>                                                
                                <td>{{ pedido.estado }}</td>
                                <td>{{ pedido.cliente }}</td>

                                {% if user.is_staff or request.user.username == 'Mesero' or request.user.username == 'Cajero' %}
                                <td style="text-align: center;">
                                    {% if perms.control.change_pedido %}
                                      {% if pedido.estado == 'Pendiente' %}
                                      <a href="{% url 'control:pedido_update' pedido.id %}"><img src="{% static 'img/icon/update.png' %}" id="imgChange" width="25" height="25"/></a>
                                      {% elif pedido.estado == 'Listo' %}
                                      <img src="{% static 'img/icon/listo.png' %}" id="imgChange" width="25" height="25"/>
                                      {% else %}
                                      <img src="{% static 'img/icon/completado.png' %}" id="imgChange" width="25" height="25"/>
                                      {% endif %} 
                                    {% endif %}   
                                    {% if perms.control.delete_pedido %}
                                      {% if pedido.estado == 'Pendiente' %}
                                      <a href="{% url 'control:pedido_delete' pedido.id %}"><img src="{% static 'img/icon/delete.png' %}" width="25" height="25"/></a>
                                      {% endif %}  
                                    {% endif %} 
                                </td>    
                                {% endif %}                              

                            </tr>
                          {% endfor %}
                    {% endif  %} 

                    {% if request.user.username == 'Mesero' or request.user.username == 'Cajero' %} 
                          {% for pedido in pendientelistos_list %}
                            <tr>
                                    
                                {% if perms.control.view_pedido %}
                                <td style="text-align: center;">
                                  <a href="{{ pedido.get_absolute_url }}"><img src="{% static 'img/icon/view.png' %}" width="25" height="25"/></a>
                                </td>
                                {% endif %}   
                                <td>{{ pedido.id }}</td>
                                <td>Q{{ pedido.total }}</td>                                                
                                <td>{{ pedido.estado }}</td>
                                <td>{{ pedido.cliente }}</td>

                                {% if user.is_staff or request.user.username == 'Mesero' or request.user.username == 'Cajero'  %}
                                <td style="text-align: center;">
                                    {% if perms.control.change_pedido %}
                                      {% if pedido.estado == 'Pendiente' %}
                                      <a href="{% url 'control:pedido_update' pedido.id %}"><img src="{% static 'img/icon/update.png' %}" id="imgChange" width="25" height="25"/></a>
                                      {% elif pedido.estado == 'Listo' %}
                                      <img src="{% static 'img/icon/listo.png' %}" id="imgChange" width="25" height="25"/>
                                      {% else %}
                                      <img src="{% static 'img/icon/completado.png' %}" id="imgChange" width="25" height="25"/>
                                      {% endif %} 
                                    {% endif %}   
                                    {% if perms.control.delete_pedido %}
                                      {% if pedido.estado == 'Pendiente' %}
                                      <a href="{% url 'control:pedido_delete' pedido.id %}"><img src="{% static 'img/icon/delete.png' %}" width="25" height="25"/></a>
                                      {% endif %}  
                                    {% endif %} 
                                </td>    
                                {% endif %}                              

                            </tr>
                          {% endfor %}
                    {% endif %} 

                    {% if request.user.username == 'Cocinero' %} 
                          {% for pedido in pendiente_list %}
                            <tr>
                                    
                                {% if perms.control.view_pedido %}
                                <td style="text-align: center;">
                                  <a href="{{ pedido.get_absolute_url }}"><img src="{% static 'img/icon/view.png' %}" width="25" height="25"/></a>
                                </td>
                                {% endif %}   
                                <td>{{ pedido.id }}</td>
                                <td>Q{{ pedido.total }}</td>                                                
                                <td>{{ pedido.estado }}</td>
                                <td>{{ pedido.cliente }}</td>

                                {% if user.is_staff or request.user.username == 'Mesero' or request.user.username == 'Cajero'  %}
                                <td style="text-align: center;">
                                    {% if perms.control.change_pedido %}
                                      {% if pedido.estado == 'Pendiente' %}
                                      <a href="{% url 'control:pedido_update' pedido.id %}"><img src="{% static 'img/icon/update.png' %}" id="imgChange" width="25" height="25"/></a>
                                      {% elif pedido.estado == 'Listo' %}
                                      <img src="{% static 'img/icon/listo.png' %}" id="imgChange" width="25" height="25"/>
                                      {% else %}
                                      <img src="{% static 'img/icon/completado.png' %}" id="imgChange" width="25" height="25"/>
                                      {% endif %} 
                                    {% endif %}   
                                    {% if perms.control.delete_pedido %}
                                      {% if pedido.estado == 'Pendiente' %}
                                      <a href="{% url 'control:pedido_delete' pedido.id %}"><img src="{% static 'img/icon/delete.png' %}" width="25" height="25"/></a>
                                      {% endif %}  
                                    {% endif %} 
                                </td>    
                                {% endif %}                              

                            </tr>
                          {% endfor %}
                    {% endif %}                       
                
                {% endif %}   
                

            </tbody>
          </table>
        </div>

      </div>
    </div>

    {% endif %} 

{% endblock content %}