{% extends "control/main.html" %}

{% load static %}

{% block title %}<title>Agregar Pedido</title>{% endblock %}

{% block content %}

<div class="section__content section__content--p30">

        <h1 class="h3 mb-4 text-gray-800">Agregar Pedido</h1>        

        <div class="col-lg-12">               
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Datos del Pedido</h6>
                        </div>

                                            
                            <form action="" method="post">
                                <div class="card-body card-block">       
                                    <div class="form-group">
                                    {% csrf_token %}
                                    
                                        <div class="row form-group">                                     
                                            <div class="col col-md-12">
                                                <label for="" id="id_total" class="form-control-label"><label for="id_total">Total:</label></label>                                          
                                                <input type="text" name="total" for="id_total" value="0" step="0.01" class="form-control" required id="total" readonly> 
                                                                                          
                                                {{ form.fecha }}
       
                                                <input type="hidden" name="estado" value="Pendiente" maxlength="20" class="form-control" required id="id_estado" readonly>  <br>
                                            </div>
                                           

                                            <div class="col col-md-12">
                                                <label for="" id="id_cliente" class="form-control-label"><label for="id_cliente">Cliente:</label></label>
                                                {{ form.cliente }}
                                            </div>
                                            <div class="col-12 col-md-9">                                         
                                                <br>                                  
                                            </div>

                                            <div class="col col-md-12">
                                                <label for="" id="id_observacion" class="form-control-label"><label for="id_observacion">Observacion:</label></label>
                                                {{ form.observacion }}
                                            </div>

                                        </div> 

                                    </div>                                                                  
                                </div>

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Productos del Pedido</h6>
                          </div>
                        
                        
                        <table class="table" id="tPedidos">
                            {{ detalle.management_form }}
            
                            {% for form in detalle.forms %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                
                                    <tr class="{% cycle row1 row2 %} formset_row">

                                        {% for field in form.visible_fields %}
                                            <td>
                                                {# Include the hidden fields in the form #}
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}
                                                {{ field.errors.as_ul }}
                                                {{ field }}
                                            </td>
                                        {% endfor %}
                                        
                                    </tr>                               
                                
                            {% endfor %}
                        </table>  

                            <div class="card-footer">
                                    <a href="{% url 'control:pedidos' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                                    <button type="submit" class="btn btn-success float-right" onclick="CalcularTotal()">Agregar</button>
                            </div>

                      </div> 
                        </form>
                
        </div>     
        
</div>

    <!-- Scripts necesarios para utilizar el script de la tabla -->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'formset/jquery.formset.js' %}"></script>
    
    <!-- Script para agregar o quitar filas de la tabla Participantes -->
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Agregar otro Producto',
            deleteText: 'Quitar',
            prefix: 'detallepedido_set',
        });
    </script> 
    <!-- -------------------------------------------------------------- -->

    <script>

    $(document).on("change", ".mydropdownclass" , function() {
        $(this).find(':first-child').attr("disabled","disabled");

        producto_id = $(this).val();
        var url = '/control/price/'+producto_id;
        //console.log(producto_id);

        //Consiguiendo el Field Precio buscandolo con su class name
        field = $(this).closest("tr").find('.mypricefield').attr('id');
        console.log(field);

        $.ajax({              
        type: "GET",    
        url: url,                   
        data: {
            'producto': producto_id 
        },
        success: function (data) {   
            //console.log('Funciono!');
            console.log("Price: " + data);
            $("#" + field).val(data);
            CalcularTotal ();      
        },
        error: function(data) {
            alert('Ha ocurrido un error, intentalo de nuevo');
            //console.log(data);
            CalcularTotal ();
        } 

        });        

    });

    $('.mydropdownclass').each(function() {
        //$(this).find('.mydropdownclass:first-child').attr("disabled","disabled");
        $(this).find(':first-child').attr("disabled","disabled");
    });
    
    // --------------------------------------------
        // --------------------------------------------
        // Scripts para Calcular el Total del Pedido al cambiar un Field o abrir pagina
        $('#tPedidos').on('change', 'input', function () {
            CalcularTotal ();          
        });

        // --------------------------------------------

        window.onload = function() {
            CalcularTotal ();
        };

        // --------------------------------------------

    </script>

{% endblock content %}