{% extends "control/main.html" %}

{% load static %}

{% block title %}<title>Eliminar Venta</title>{% endblock %}

{% block content %}

<div class="section__content section__content--p30">

        <div class="col-md-6 offset-md-3 mr-auto ml-auto">

                <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Eliminar Venta</h6>
                        </div>

                        <div class="card-body card-block text-center">                              
                                <p>Estas seguro que deseas eliminar esta Venta: </p>
                                <strong>{{ venta }}</strong>
                                <br><br>            
                        </div>
    
                        <div class="card-footer">
                            <form action="" method="POST">
                                {% csrf_token %}  
                                <a href="{% url 'control:ventas' %}"><button type="button" class="btn btn-secondary btn-sm">Cancelar</button></a> 
                                <button type="submit" class="btn btn-success btn-sm float-right">Confirmar</button>      
                                <br>
                             </form>
                        </div>

                      </div>  

                    
        </div>     
        
    </div>

{% endblock content %}