imgsection{
    background: url('static/images/bg_1.jpg');
}
imgsection1{
    background: url('static/images/burger-3.jpg');
}
imgsection2{
    background: url('static/images/about.jpg');
}

imgsection3{
    background: url('static/images/pizza-1.jpg');
}
imgsection4{
    background: url('static/images/pizza-2.jpg');
}

imgsection5{
    background: url('static/images/pizza-3.jpg');
}
imgsection6{
    background: url('static/images/pizza-4.jpg');
}
imgsection7{
    background: url('static/images/pizza-5.jpg');
}
imgsection8{
    background: url('static/images/pizza-6.jpg');
}